---
layout: default
---
<div class="home">
    <h1>Home</h1>
    <ul class="post-list">
        {% for post in site.posts %}
            <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
            </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <p class="page">Page <a href="{{ "/page" | prepend: site.baseurl }}">page</a></p>
    <hr>

    <h1>site.data.*</h1>
    <p style="color:{{ site.data.color.primary }};">data.color.primary</p>
    <p>{{ site.data.strings.string }}</p>

    site.data.members (#members={{ site.data.members | size }}):
    <ul>
        {% for member in site.data.members %}
            <li>
                {{ member.name }}
            </li>
        {% endfor %}
    </ul>

    site.data.folder.file: {{ site.data.folder.file }}

    <p>site.data.authors: {{ site.data.authors }}</p>
    <ul>
        {% for author in site.data.authors %}
            <li>
                {{ author[1].name }} (key: {{author[0]}})
            </li>
        {% endfor %}
    </ul>
    <p>Categories: {{ site.categories }}</p>
    <ul>
        <li><a href="{{ site.baseurl }}{% link categories/category-a.md %}">category-a</a></li>
        <li><a href="{{ site.baseurl }}{% link categories/category-b.md %}">category-b</a></li>
    </ul>


</div>
