---
layout: default
---
<div class="home">
    <h1>Home</h1>
    <ul class="post-list">
        {% for post in site.posts %}
            <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
            </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <hr>

    <h1>site.data.*</h1>
    <p style="color:{{ site.data.color.primary }};">data.color.primary</p>
    <p>{{ site.data.strings.string }}</p>

    site.data.members (#members={{ site.data.members | size }}):
    <ul>
        {% for member in site.data.members %}
            <li>
                {{ member.name }}
            </li>
        {% endfor %}
    </ul>

    site.data.folder.file: {{ site.data.folder.file }}
</div>
